body, html{
    margin: 0;
    font-family: sans-serif;
}
.menuNav{
    background-color: #ffffff !important;
    box-shadow: none !important;
}
.titleTour{
    font-size: 1.2rem;
    line-height: 1.3;
}
.priceTour{
    color: #ff3322;
}
.mt100{
    margin-top: 100px;
}